@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primaryColor: rgba(0, 30, 54, 1);
    --secondaryColor: rgba(0, 116, 189, 1);
    --lighterSecondaryColor: rgb(31, 159, 239);
    --tertiaryColor: rgba(219, 239, 236, 1);
    --accentColor: rgba(0, 198, 185, 1);
    --accentColorGlow: rgba(0,198,185,.5);
}
/* Track */
html::-webkit-scrollbar {
    background: rgb(0, 42, 76);
    width: .5em;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: var(--accentColor);
    border-radius: 10px;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inconsolata', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primaryColor);
    color: var(--tertiaryColor);
    overflow-x: hidden;
}
html{
    /*overflow: hidden;*/
    overflow: hidden;
}
h1,h2,h3{
    font-family: 'Inconsolata';
    color: var(--accentColor);
}
h2{
    font-size: clamp(20px,2rem,40px);
    text-shadow: 0 0 5px var(--accentColorGlow);
}
header{
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primaryColor);
    transition: all .4s ease-in-out;
    opacity: 0;
}
header.opaque{
    background-color: var(--primaryColor);
}
header img{
    filter: invert(75%) sepia(53%) saturate(5872%) hue-rotate(135deg) brightness(97%) contrast(101%);
}

nav ul li{
    text-align: center;
    align-content: center;
}
nav ul li:not(:last-of-type):hover,
nav ul li:not(:last-of-type) :has(a:active){
    border-color: var(--accentColor);
}
nav ul li a,
.view-more a{
    text-decoration: none;
    align-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}
a:not(#resume-link, .card):hover,
a:not(#resume-link, .card).active,
#skipBtn:hover {
    color: var(--accentColor);
    text-shadow: 0 0 5px var(--accentColorGlow);
}
section{
    padding: 1rem 2rem;
    min-height: 100vh;
}
section:not(#home){
    max-width: 1200px;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer{
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    color: var(--secondaryColor) !important;
}
#resume-link,
#contact form .form-group button{
    background-color: transparent;
    display: block;
    border-radius: 5px;
    padding: .5rem 1rem;
    width: auto;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid;
    transition: all .2s ease-in-out;
    color: var(--accentColor);
}
:is(#resume-link, #contact form .form-group button):hover{
    color: var(--tertiaryColor);
    background-color:rgb(0, 163, 153);
    border-color: rgb(0, 163, 153);
    box-shadow: 0 0 5px var(--accentColorGlow);
    cursor: pointer;
}

/*Theme*/
header nav ul li a{
    display: block;
    box-sizing: border-box;
    color: var(--lighterSecondaryColor);
    font-weight: 600;
    transition: all .2s ease-in-out;
    border-bottom: 5px solid transparent;
    padding: .5rem;
}
header nav ul li :is(a:hover, a.active){
    color:var(--accentColor);
    text-shadow: 0 0 5px var(--accentColor);
    border-bottom-color: var(--accentColor);
}
header button{
    color: var(--tertiaryColor);
}
/*Menu*/
.toggle-menu-wrapper,
.logo-wrapper{
    flex-grow: 1;
    flex-basis: 50%;
    width: 100%;
}
.toggle-menu-wrapper button{
    background-color: transparent;
    border: none;
    font-size: clamp(1rem,5vw,1.5rem);
}
.toggle-menu-wrapper button i{
    transition: all .5s ease-in-out;
}
.logo-wrapper{
    min-width: 50px;
    width: 100%;
    max-width: 60px;
    align-content: center;
    margin-right: .9vw;
}
.toggle-menu-wrapper{
    text-align: end;
    align-content: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .5rem;
    height: 100%;
    align-content: center;
}
.main-menu{
    flex-grow: 1;
}
.main-menu ul{
    flex-direction: column;
    justify-content: space-evenly;
}
.main-menu ul li:nth-last-child(1){
    align-self: center;
    min-width: 40vw;
}
.menu-wrapper{
    transition: all .5s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primaryColor);
}
.hidden{
    display: none !important;
}

.section-content{
    display: grid;
    column-gap: 2rem;
}
.section-content > h2{
    grid-row: 1;
    grid-column: 1/-1;
    margin: 0;
    align-content: end;
}
.card{
    background-color: rgba(0, 116, 189, 0.1);
    border: thin solid rgba(0, 116, 189, 0.2);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
/*Home*/
#home{
    position: relative;
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    padding-left: 10vw;
    padding-top: 84px;
    display: flex;
    flex-flow: column;
    color: var(--accentColor);
    background: rgb(0,39,70);
    background: -moz-radial-gradient(circle, rgba(0,39,70,1) 0%, rgba(0,30,54,1) 45%);
    background: -webkit-radial-gradient(circle, rgba(0,39,70,1) 0%, rgba(0,30,54,1) 45%);
    background: radial-gradient(circle, rgba(0,39,70,1) 0%, rgba(0,30,54,1) 45%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002746",endColorstr="#001e36",GradientType=1);
    min-height: 110vh;
}
#home .typewriter {
    display: block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 8px solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    width: 0%;
    max-width: max-content !important;
  }
  #home .text-wrapper .typewriter:nth-child(1){
    animation: 
      typing 2.5s 2s steps(40, end) forwards,
      blink-caret 1s step-end 4;
  }
  #home  .text-wrapper .typewriter:nth-child(2){
    border-right-width: 10px;
    animation: 
      typing 1.5s 4s steps(40, end) forwards,
      blink-caret 1s 3.5s step-end 2;
  }
  #home  .text-wrapper .typewriter:nth-child(3){
    animation: 
      typing 2.5s 6.5s steps(40, end) forwards,
      blink-caret 1s 5.8s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: var(--tertiaryColor) }
    50% { border-color: transparent; }
  }
#home h2{
    margin: 0;
    font-size: 4.5rem;
}
#home h2 span{
    color: var(--tertiaryColor);
}
#home .text-wrapper{
    display: flex;
    flex-flow: column;
    padding-top: 10vh;
}
#home :is(.social-links, .other-info){
    opacity: 0;
}
#home :is(.social-links, .other-info) *{
    transition: all .4s ease-in-out;
}
#home .social-links{
    margin: 2rem 0;
}
#home .social-links ul{
    gap: 2rem;
}
.social-links nav ul li a{
    display: flex;
    gap: 1rem;
    color: var(--secondaryColor);
    font-size: 1rem;
    align-items: center;
}
#home .social-links i{
    color: var(--secondaryColor);
    font-size: 2.5rem;
}
#home .social-links nav ul li a:hover i{
    text-shadow: 0 0 2px var(--accentColor);
    color: var(--accentColor);
    text-decoration: none !important;
}
#home .other-info{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    right: 2rem;
    font-size: 2rem;
}
#home .other-info div:first-of-type{
    font-size: .8rem;
    color: var(--secondaryColor);
    opacity: .8;
}
#home .other-info span{
    font-weight: 600;
}
#home .skip-btn-wrapper{
    position: absolute;
    bottom: 8rem;
    right: 4rem;
    text-align: right;
}
#home #skipBtn{
    background-color: transparent;
    border: none;
    border-bottom: 5px solid transparent;
    color: var(--secondaryColor);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .4s ease-in-out;
    opacity: 1;
}
#home #skipBtn:hover{
    cursor: pointer;
    color: var(--lighterSecondaryColor);
    border-color: (--lighterSecondaryColor);
}
/*About*/
#about .section-content{
    grid-template-columns: 1fr;
    gap: 1rem;
}
.section-description {
    font-weight: 200;
}
#about .img-wrapper img{
    mix-blend-mode: luminosity;
    border-radius: 10px;
    box-shadow: 10px 10px 0 var(--secondaryColor);
}
#about .img-wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 80vh;
    overflow: hidden;
}
/*Skills*/
#skills{
    display: flex;
}
#skills .section-content{
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
#skills .grid-item:first-child {
    display: grid;
}
#skills form{
    margin: 1rem 0;
}

#skills form .button-tag:hover,
#skills form .button-tag:has(input:checked){
    border-color: var(--accentColor);
    background-color: transparent;
    color: var(--accentColor);
    cursor: pointer;
    font-weight: 300;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    background-color: rgba(0, 116, 189, 0.08);
    row-gap: .5rem;
    padding: .5rem;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
}
.skills-grid .skill-item{
    background-color: transparent;
    border: none;
    color: var(--accentColor);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    letter-spacing: 1px;
    mix-blend-mode: luminosity;
    transition: all .5s ease-in-out;
}
.skills-grid .skill-item span{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.skills-grid .skill-item img{
    max-width: 55px;
}
.skills-grid .skill-item.active,
.skills-grid .skill-item:hover{
    mix-blend-mode: normal;
    cursor: pointer;
}
.skills-grid .skill-item.active span,
.skills-grid .skill-item:hover span{
    opacity: 1;
}
/*PORTFOLIO*/
#portfolio .portfolio-grid{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow:scroll;
    padding: 1rem 50px;
    position: relative;
}
.portfolio, .top-3-wrapper{
    display: grid;
    gap: 2rem;
}
.top-3-wrapper{
    padding-bottom: 2rem;
}
.portfolio .sub-section-title{
    margin: 2rem 0;
    text-align: center;
    display: block;
    width: 100%;
}
#portfolio .grid-wrapper::-webkit-scrollbar {
    display: none;
  }
  #portfolio .section-content{
    row-gap: 2rem;
  }
.portfolio-grid::-webkit-scrollbar{
    display: inline;
    background: rgb(0, 42, 76);
    width: 5px;
    height: 5px;
}
.portfolio-grid::-webkit-scrollbar-thumb{
    position: relative;
    z-index: 2;
    background-color: var(--accentColor);
    border-radius: 5px;
}
.portfolio-grid::-webkit-scrollbar-track-piece{
    margin: 1rem 0;
}
.portfolio .grid-wrapper{
    position: relative;
    overflow: scroll;
    max-width: calc(100vw - 4rem);
}
.portfolio-item-container{
    container-type: inline-size;
    container-name: portfolio-item;
    min-width: 250px;
    display: flex;
}

@container portfolio-item (max-width:400px){
    .portfolio-item{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .portfolio-item.top3{
        padding: 0;
    }
    .portfolio-item .thumbnail-wrapper{
        min-height: 200px;
    }
}
@container portfolio-item (min-width:500px){
    .portfolio-item .thumbnail-wrapper{
        aspect-ratio: 4/3;
    }
}
.portfolio-item{
    box-sizing: border-box;
    display: flex;
}
.portfolio-item:hover .details :is(h3 a, i){
    color: var(--accentColor);
    opacity: 1;
}
.portfolio-item h3 a{
    text-decoration: none;
    color: var(--lighterSecondaryColor);
}
.portfolio-item > div{
    flex: 1;
}
.portfolio-item .details{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 2;
    padding: 1rem 1rem;
}
.portfolio-item .details .title{
    display: flex;
    justify-content: space-between;
}
.portfolio-item .details h3{
    display: block;
    margin: 0;
    color: var(--lighterSecondaryColor);
}
.portfolio-item .details h3 i{
    font-size: .875rem;
    opacity: 0;
}
.portfolio-item .details p{
    display: flex;
    flex-grow: 1;
    line-height: 1.15;
}
.portfolio-item .details :is(p,.tag){
    font-size: clamp(.8rem,3vw,.9rem);
    font-weight: 200;
}
.portfolio-item .details .tag{
    font-weight: 400;
}
.portfolio-item .type{
    display: block;
    font-weight: lighter;
    font-style: italic;
    color: var(--tertiaryColor);
}
.portfolio-item .thumbnail-wrapper{
    overflow: hidden;
    padding: .5rem;
}
.portfolio-item .thumbnail-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    mix-blend-mode: overlay;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}
:is(.tag, .button-tag){
    display: block;
    color: var(--secondaryColor);
    border: thin solid var(--secondaryColor);
    padding: .2rem .875rem;
    border-radius: 5px;
    font-weight: 400;
    transition: all .2s ease-in-out;
}
.button-tag{
    border: thin solid rgba(0, 116, 189, 0.5);
    background-color: rgba(0, 116, 189, 0.2);
    color: var(--tertiaryColor);
    font-weight: 200;
}
.portfolio-item:hover{
    background-color: rgba(0, 116, 189, 0.2);
}
.portfolio-item:hover :is(h3,.tag){
    cursor: pointer !important;
    color: var(--accentColor) !important;
    border-color: var(--accentColor) !important;
}
.portfolio-item:hover img{
    mix-blend-mode: normal;
}
.portfolio-item:hover i{
    opacity: 1;
}

#portfolio .view-more{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
#portfolio .view-more a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--accentColor);
    letter-spacing: 1px;
}
#portfolio .view-more a i:first-child{
    font-size: 1.4rem;
    color: var(--accentColor);
}
#portfolio .view-more a i:last-child{
    font-size: 1rem;
    opacity: 0;
}
#portfolio .view-more:hover a i:last-child{
    opacity: 1;
}
/*Experience grid*/
#experience h2{
    grid-row: 1;
    grid-column: 1;
}
.experience-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    position: relative;
    row-gap: 2rem;
}
.experience-grid::after{
    content: "";
    width: 10px;
    position: absolute;
    top: 1.2vw;
    bottom: 0;
    left: -0.3vw;
    background-color: var(--accentColor);
    border-radius: 50px;
    box-shadow: 0 0 5px var(--accentColorGlow);
    grid-row: 2;
}
.experience-grid .row{
    position: relative;
    left: -25px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
}
.experience-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 450px;
    position: relative;
}
.experience-item-wrapper{
    display: flex;
    position: relative;
    grid-column: 2;
    width: 100%;
    max-width: 580px;
    gap: .5rem;
}
.experience-item .img-wrapper{
    display: flex;
}
.experience-item .year{
    height: 1rem;
}
.experience-item .experience-type img{
    max-width: 5vw;
    min-width: 55px;
    background: var(--primaryColor);
    background: rgb(0,30,54);background: -moz-radial-gradient(circle, rgba(0,30,54,1) 80%, rgba(0,30,54,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,30,54,1) 80%, rgba(0,30,54,0) 100%);background: radial-gradient(circle, rgba(0,30,54,1) 80%, rgba(0,30,54,0) 100%);
    z-index: 2;
}
.experience-item .experience-details{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    position: relative;
    left: calc(50px + 1.2rem);
    max-width: 75vw;
    width: 100%;
    padding-bottom: 1rem;
    transition: all .4s ease-in-out;
}
.experience-item :is(h3,h4){
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.experience-item h4{
    color: var(--secondaryColor);
}
.experience-grid > .wrapper,
.experience-item p{
    font-weight: 200;
}
.experience-item .experience-type{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: start;
    align-items: self-start;
}
.experience-type .year{
    padding-top: 18px;
    padding-left: .5rem;
    text-align: center;
    width: min-content;
    text-wrap: nowrap;
    overflow: visible;
}
/*Contact*/
#contact {
    min-height: 50vh;
}
#contact .section-content{
    position: relative;
}
#contact .social-links ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-content: flex-start;
    margin:2rem 0;
}
#contact .social-links ul li{
    flex-basis: 100%;
    display: flex;
}
#contact .social-links ul li a{
   text-transform: none;
   font-size: 1.1rem;
}
#contact .section-content .grid-item:nth-child(3){
    display: none;
}
#contact form {
    display: grid;
    gap: 1rem;
}
#contact form label{
    color: var(--lighterSecondaryColor);
    font-weight: 500;
}
#contact form .form-group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#contact .social-links a:hover{
    text-decoration: none !important;
    border: none !important;
}
#contact form .form-group :is(input, textarea){
    background-color: var(--tertiaryColor);
    color: var(--primaryColor);
    border: none;
    min-height: 5vh;
    border-radius: 5px;
    outline-color: var(--accentColor);
    padding: .5rem;
}
#contact form .form-group textarea{
    min-height: 25vh;
    resize: vertical;
}
#contact form .form-group button{
    align-self: end;
}
@media screen and (min-width: 400px){
    .experience-item{
        flex-direction: row;
    }
    .experience-item .experience-details{
        position: static;
        max-width: unset;
    }
}
@media screen and (min-width: 600px){

    #portfolio .portfolio-grid{
        grid-auto-flow: row;
        overflow: visible;
    }

    .experience-grid .row{
        left: 0;
    }
    .experience-item .experience-type {
        flex-direction: row-reverse;
        gap: .25rem;
    }
    .experience-type .year{
        padding-left: .25rem;
    }
    .experience-item-wrapper{
        padding-left: 1.5rem;
    }
    .experience-type::after{
        position: absolute;
        content: "";
        height: 35px;
        box-sizing: border-box;
        top: 1.2vw;
        min-width: 35px;
        left: calc(-1.5rem - 15px);
        z-index: 2;
        flex-grow: 1;
        border-radius: 100%;
        border: 10px solid var(--accentColor);
        background-color: var(--primaryColor);
        box-shadow: 0px 0px 5px var(--accentColorGlow), inset 0px 0px 5px var(--accentColorGlow);
    }
    .item-4 .experience-type::after{
        content: url("./assets/loading.svg");
        min-width: 38px;
        min-height: 38px;
        border-width: 2px;
    }
    .experience-item .experience-type .line::before {
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        top: calc(17px + .4vw);
        bottom: 0;
        left: -1.3rem;
        background-color: var(--accentColor);
        border-radius: 50px;
    }
}
@media screen and (min-width: 800px){
    .hidden{
        display: flex !important;
    }
    header{
        flex-flow: row nowrap;
        justify-content: space-between;
        background-color: transparent;
    }
    nav ul li a{
        font-size: clamp(12px,1.5vw,1rem);
    }
    .toggle-menu-wrapper{
        display: none;
    }
    .menu-wrapper{
        position: static;
        flex-flow: row nowrap;
        justify-content: space-between;
        background-color: transparent;
    }
    .main-menu ul,
    .contact-menu ul{
        flex-direction: row;
    }
    .main-menu ul li:nth-last-child(1){
        flex-grow: 1;
        display: flex;
        justify-content: end;
    }
    section .section-content {
        grid-template-columns: repeat(2,1fr);
    }

    /*About*/
    #about .section-content{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
    }
    #about .grid-item:first-child{
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        /*background-color: rgba(0, 30, 54, .7);*/
    }
    #about .grid-item:nth-child(2){
        grid-column: 1/-1;
        grid-row: 1/ span 2;
        position: relative;
    }
    #about .img-wrapper{
        justify-content: end;
        align-items: center;
    }
    /*Skills*/
    
    #skills .section-content{
        grid-template-rows: 50px auto;
        grid-template-columns: repeat(2, 1fr);
    }
    #portfolio .grid-item .grid-wrapper::before{
        left: 0;
        right: 0;
        top: -1px;
        bottom: unset;
        height: 100px;
        width: unset;
        background: linear-gradient(rgba(0,30,54,1), rgba(0,30,54,0));
    
    }
    #portfolio .grid-item .grid-wrapper::after{
        left: 0;
        right: 0;
        top: unset;
        width: unset;
        bottom: 0;
        height: 100px;
        background: linear-gradient(rgba(0,30,54,0), rgba(0,30,54,1));
    }
    .portfolio-item-container{
        display: flex;
    }
    #portfolio .portfolio-grid{
        grid-auto-flow: unset;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-template-rows: unset;
        gap: 1rem;
        overflow: hidden;
        padding: 0 0.1rem;
        position: relative;
    }
    
    #portfolio .top-3-wrapper .portfolio-item-container:nth-child(2) .portfolio-item{
        flex-direction: row-reverse;
    }
    #portfolio .portfolio-item.top3{
        padding: .4rem .875rem;
    }

    #skills .grid-item:nth-of-type(2){
        grid-column: 2;
        grid-row: 1/3;
        position: relative;
    }
    #skills .grid-wrapper{
        padding:0;
    }
    .portfolio{
        grid-row: 2;
        grid-column: 1/-1;
    }
    
    /*Experience grid*/
    #experience .section-content {
        gap: 0;
    }
    .experience-grid{
        grid-column: 1/-1;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        column-gap: .5rem;
    }
    .experience-grid::after{
        left: 0;
        height: 10px;
        width: calc(100% - 2.5em);
        top: calc(50% - 5px);
        grid-column: 1 / 10;
        grid-row: 2/-1;
    }
    .experience-grid > .wrapper{
        grid-column: 1 / -1;
        grid-row: 1;
        position: relative;
        bottom: -2.5rem;
    }
    .experience-item .experience-type{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        position: relative;
    }
    .experience-item{
        grid-row: 2;
    }
    .experience-type .year{
        padding-top: 0;
    }
    .experience-item{
        min-height: 200px;
    }
    .experience-item-wrapper .experience-type .line{
        position: relative;
        min-width: 2px;
        min-height: 25px;
        background-color: var(--accentColor);
        flex-grow: 1;
        border-radius: 50px;
    }
    .experience-item .experience-type .line::before{
        left: calc(50% - 7.5px);
        top: 0;
    }
    .experience-type::after{
        position: absolute;
        content: "";
        height: 35px;
        box-sizing: border-box;
        border-radius: 100%;
        border: 10px solid var(--accentColor);
        background-color: var(--primaryColor);
        top: unset;
        min-width: 35px;
        left: calc(50% - 17px);
        z-index: 2;
        flex-grow: 1;
        bottom: -35px;
    }
    .experience-item-wrapper{
        flex-direction: column;
        grid-column: 1/-1;
        padding: 0;
        justify-content: end;
    }
    .experience-grid :is(.item-1,.item-3){
        padding-top: .5rem;
        grid-row: 2;
    }
    .experience-grid .experience-details{
        padding-right: 1rem;
    }
    .experience-grid .experience-details:hover{
        cursor: pointer;
    }
    .experience-grid .experience-details p{
        display: block;
        position: relative;
        height: 1px;
        font-size: 1rem;
        max-width: 250px;
        overflow-y: scroll;
        transition: all .4s ease-in-out;
        padding: 0;
        opacity: 0;
    }
    .experience-grid .experience-details .experience-name{
        position: relative;
        display: flex;
    }
    .experience-grid .experience-details .experience-name::after{
        display: block;
        text-rendering: auto;
        color: var(--tertiaryColor);
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: "\f107";
        font-size: 1.2rem;
        overflow: visible;
        text-align: right;
        text-transform: uppercase;
        opacity: 100%;
        padding-left: .5rem;
        transition: all .2s ease-in-out;
    }
    .experience-grid .tags{
        opacity: 0;
        transition: all .2s ease-in-out;
    }
    .experience-grid .experience-details.show p {
        opacity: 1;
        height: 100%;
        max-height: 180px;
        padding: initial;
        padding-bottom: 1rem;
    }
    .experience-grid .experience-details p::-webkit-scrollbar {
        background: rgb(0, 42, 76);
        width: 3px;
        border-radius: 10px;
    }
    .experience-grid .experience-details p::-webkit-scrollbar-thumb{
        background: var(--accentColor);
    }
    .experience-grid .experience-details.show .tags{
        opacity: 1;
    }
    .experience-grid :is(.item-2, .item-4) .experience-details.show{
        padding-bottom: 3.5rem;
    }
    .experience-grid .experience-details.show .experience-name::after{
        opacity: 100%;
        background: transparent;
        content: "\f106";
    }

    .experience-grid :is(.item-1,.item-3) .experience-item-wrapper{
        justify-content: start;
    }
    .experience-grid :is(.item-1,.item-3) .experience-type::after{
        top: calc(-35px - .5rem);
    }
    .experience-grid :is(.item-1,.item-3) .experience-type{
        flex-direction: column-reverse;
        justify-content: start;
        padding-top: .5rem;
    }
    .experience-grid :is(.item-1,.item-3) .experience-type .line{
        flex-basis: unset;
        height: 3rem;
        flex-grow: 0;
    }
    .experience-grid :is(.item-1,.item-3) .experience-details{
        padding-top: calc(2.5rem + 45px);
    }
    .experience-grid :is(.item-1,.item-3) .experience-item .line::before{
        top: unset;
        bottom: 0;
    }
    .experience-grid :is(.item-2,.item-4){
        grid-row: 2;
    }
    .experience-grid :is(.item-1,.item-3){
        grid-row: 3;
    }
    .experience-grid :is(.item-2,.item-4) .experience-type{
        padding-bottom: .5rem;
    }
    .experience-grid .item-1{
        grid-column: 1 / span 5;
    }
    .experience-grid .item-2{
        grid-column: 3 / span 5;
    }
    .experience-grid .item-3{
        grid-column: 6 / span 5;
    }
    .experience-grid .item-4{
        grid-column: 9 / span 5;
    }
    /*contact*/
    #contact .section-content > .grid-item{
        grid-column: span 2;
    }
    #contact .section-content .social-links{
        margin: auto;
        width: 50%;
    }
    #contact .section-content .social-links ul{
        gap: 2rem;
    }
    #contact .section-content .social-links ul li{
        flex: 1;
    }
    #contact .section-content .social-links ul i{
        font-size: 3rem;
    }
}
@media screen and (min-width: 1000px){
    #about .img-wrapper{
        padding: 1rem 5rem;
    }
    .experience-grid{
        grid-template-rows: repeat(2, 1fr);
    }
    .experience-grid :is(.item-2,.item-4){
        grid-row: 1;
    }
    .experience-grid :is(.item-1,.item-3){
        grid-row: 2;
    }
    .experience-grid::after{
        grid-column: 1 / 9;
        grid-row: 1/-1;
    }
    .experience-grid .item-4{
        grid-column: 8 / span 4;
    } 
    .experience-grid > .wrapper{
        text-align: justify;
        padding-right: .5rem;
        grid-column: 1/ span 3;
        grid-row: 1;
        align-self: center;
        position: static;
        min-height: 300px;
    }
    .experience-grid > .wrapper h2{
        margin-top: 0;
    }
    .experience-grid::after{
        grid-column: 1 / 10;
    }
    .experience-grid .item-1{
        grid-column: 1 / span 4;
    }
    .experience-grid .item-2{
        grid-column: 4 / span 4;
    }
    .experience-grid .item-3{
        grid-column: 6 / span 4;
    }
    .experience-grid .item-4{
        grid-column: 9 / span 4;
    } 
}
@media screen and (min-width: 1200px){
    section{
        padding: 1rem 0;
    }
}
